---
import { PageID } from "../constants/menu";
import Layout from "../layouts/Layout.astro";
---

<Layout pageId={PageID.DataMapping}>
  <main>
    <h1 class="text-3xl">Data Mapping</h1>
  </main>
</Layout>
