---
import type { PageID } from "constants/menu";
import "styles/index.css";
import Footer from "./Footer.astro";
import Menus from "./Menus.astro";
import Navbar from "./Navbar.astro";
import Path from "./Path.astro";
interface Props {
  pageId: PageID;
}

// TODO: share pageId via context
const { pageId } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>PDPA / International School</title>
  </head>
  <body>
    <Navbar />
    <div class="w-full main_section">
      <div class="flex flex-row mobile:max-xl:flex-col">
        <Menus pageId={pageId} />
        <div class="p-6 w-full">
          <Path pageId={pageId} />
          <slot />
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
