---
import { Icon } from "astro-icon/components";
import { MENUS, type PageID } from "constants/menu";
interface Props {
  pageId: PageID;
}

const { pageId } = Astro.props;
---

<div
  class="p-6 flex flex-col
  mobile:max-xl:flex-row mobile:max-xl:gap-x-6 mobile:max-xl:h-14 mobile:max-xl:py-2 mobile:max-xl:px-6 mobile:max-xl:overflow-x-auto mobile:max-xl:border-b mobile:max-xl:border-app-border-default"
>
  {
    MENUS.map(({ iconName, label, id }) => {
      const iconStrokeColor =
        id === pageId ? "stroke-app-green" : "stroke-app-black";
      const labelColor = id === pageId ? "text-app-green" : "text-app-black";

      return (
        <div class="flex flex-row w-[200px] py-2 gap-x-2 mobile:max-xl:min-w-fit">
          <Icon name={iconName} class={`text-2xl ${iconStrokeColor}`} />
          <p
            class={`font-default text-sm font-semibold leading-6 text-left ${labelColor}`}
          >
            {label}
          </p>
        </div>
      );
    })
  }
</div>
